@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1e293b;
  }
}

/* 你的自定義樣式可以寫在下面 */
table {
  border-spacing: 0;
  width: 100%;
}